<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="/styles/site.css" rel="stylesheet">
</head>

<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-1.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Самые автономные смартфоны 2016 года
		</h1>
		
		<div id="openedNews-desc">
			Ёмкость аккумулятора (он же батарея) - важная характеристика смартфона, определяющая, 
			сколько он сможет работать без подзарядки. Активным пользователям смартфонов, а также тем, 
			кто часто бывает в поездках, где не всегда есть возможность вовремя подзарядить смартфон, 
			обязательно нужно обратить пристальное внимание на этот показатель перед покупкой новой модели. 
			Единица измерения ёмкости батареи - миллиампер-час (сокращенно мА*ч). Не факт, что при одинаковой 
			емкости аккумулятора два смартфона будут работать одинаковое время без подзарядки, т.к. модель 
			с большим экраном и мощным процессором разрядится быстрее, чем модель с небольшим экраном и 
			средним или слабым процессором.<br> 
			Рейтинг лучших смартфонов 2016 года:<br>
			1. OUKITEL K10000<br>
			2. Ulefone Power<br>
			3. OUKITEL K6000 Pro<br>
			4. Samsung Galaxy A9 Pro SM-A910F/DS<br>
			5. Conquest S6 OCTA
		</div>
	 </div>  
</div>
</html>