<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="/styles/site.css" rel="stylesheet">
</head>

<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-2.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Сравнение Elephone S3 и Ulefone Future
		</h1>
		
		<div id="openedNews-desc">
			Мода на большие диагонали экранов привела к гонке за минимальный размер рамок вокруг дисплея. 
			Разные производители разными способами пытаются их полностью изничтожить. Летом прошлого года 
			на рынке появился смартфон Nubia Z9, в котором благодаря использованию 2,5D-стекла и очень 
			узких рамок изображение доходило до самых краев передней панели. В этом году применить данную 
			технологию на более доступных моделях решили производители Elephone и Ulefone, представившие 
			модели S3 и Future. Они заметно отличаются по техническим характеристикам и по цене, но все-таки 
			являются друг для друга прямыми конкурентами благодаря своей безрамочности. Давайте узнаем, у 
			кого «экран от края до края» получился лучше.
		</div>
	 </div>  
</div>
</html>