<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="../styles/site.css" rel="stylesheet">
</head>


<body>
<header>
    <div id="headerInside">
        <div id="logo"></div>
        <div id="companyName">Brand</div>
        <div id="navWrap">
            <a href="../index.php">
                Главная
            </a>
            <a href="../index.php?page=shop">
                Магазин
            </a>
        </div>
    </div>
</header>
<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-3.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Google кардинально обновила потоковый музыкальный сервис Play Музыка
		</h1>
		
		<div id="openedNews-desc">
			Google в корне поменяла свое видение потокового музыкального сервиса Play Музыка. 
			По словам его автора, новая версия программы стала умнее, ассистивнее и проще в 
			использовании. Так, теперь система более точно и диференцированно подходит к музыкальным 
			предпочтениям пользователя, выясняя пристрастия с привязкой к местонахождению, виду 
			деятельности или даже погодой, на основе которых создаются соответствующие плейлисты. 
			Обновленный Google Play Music предложит персонализованный пользовательский интерфейс, 
			а также новую возможность офлайн-прослушивания музыки (плейлист собирается из прослушанных 
			ранее песен). Релиз обновленного Google Play Музыка состоится на этой неделе для iOS, 
			Android и веб-интерфейса.

		</div>
	 </div>  
</div>

<footer>
    <div id="footerInside">

        <div id="contacts">
            <div class="contactWrap">
                <img src="../images/envelope.svg" class="contactIcon">
                donntu.edu
            </div>
            <div class="contactWrap">
                <img src="../images/phone-call.svg" class="contactIcon">
                +38 071 000 00 01
            </div>
            <div class="contactWrap">
                <img src="../images/placeholder.svg" class="contactIcon">
                Донецк, пр-т Ленина, д. 15, офис 205
            </div>
        </div>

        <div id="footerNav">
            <a href="../">Главная</a>
            <a href="../index.php?page=shop">Магазин</a>
        </div>

        <div id="social">
            <img class="socialItem" src="../images/vk-social-logotype.svg">
            <img class="socialItem" src="../images/google-plus-social-logotype.svg">
            <img class="socialItem" src="../images/facebook-logo.svg">
        </div>

        <div id="copyrights">&copy; Brand</div>
    </div>
</footer>

</body>
</html>