<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="/styles/site.css" rel="stylesheet">
</head>

<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-3.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Google кардинально обновила потоковый музыкальный сервис Play Музыка
		</h1>
		
		<div id="openedNews-desc">
			Google в корне поменяла свое видение потокового музыкального сервиса Play Музыка. 
			По словам его автора, новая версия программы стала умнее, ассистивнее и проще в 
			использовании. Так, теперь система более точно и диференцированно подходит к музыкальным 
			предпочтениям пользователя, выясняя пристрастия с привязкой к местонахождению, виду 
			деятельности или даже погодой, на основе которых создаются соответствующие плейлисты. 
			Обновленный Google Play Music предложит персонализованный пользовательский интерфейс, 
			а также новую возможность офлайн-прослушивания музыки (плейлист собирается из прослушанных 
			ранее песен). Релиз обновленного Google Play Музыка состоится на этой неделе для iOS, 
			Android и веб-интерфейса.

		</div>
	 </div>  
</div>
</html>