<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="/styles/site.css" rel="stylesheet">
</head>

<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-4.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Анонс Huawei Mate 9 Pro - как Mate 9 Porsche Design, только дешевле
		</h1>
		
		<div id="openedNews-desc">
			Huawei наконец официально представила модель Mate 9 Pro, которая фигурировала 
			на всевозможных утечках как до премьеры Mate 9 и Mate 9 Porsche Design, так и 
			после него. Девайс получил те же технические параметры, что и дорогая брендовая 
			модель – 5,5” изогнутый дисплей с разрешением 2560 х 1440 точек, чипсет HiSilicon 
			Kirin 960, сканер отпечатка пальца на передней панели, двойную камеру Leica с 
			удвоенной светодиодной вспышкой и лазерным автофокусом, корпус из металла и A
			ndroid Nougat с прошивкой EMUI 5.0. Отличия заключаются в объеме системной памяти, 
			а также цветовой палитре. Так, если Mate 9 Porsche Design будет предложен исключительно 
			в черном цвете с 6 ГБ оперативной и 256 ГБ постоянной памяти на борту, то Mate 9 Pro 
			поступит в продажу в сером, золотом и цвете «розовое золото» в двух вариантах – 
			на 4/64 и 6/128 ГБ памяти (правда, в Китае Porsche Design тоже предложен в вариации на 6/128 ГБ). 
			Ну и самое главное отличие – цены. Mate 9 Pro оценен в 4699/5299 юаней (45,2/51 тыс. рублей), 
			тогда как его более престижный аналог – в 8999 юаней (86,6 тыс. рублей). Mate 9 Pro уже 
			продается на территории Поднебесной, а вот Mate 9 Porsche Design появится в продаже 15 декабря. 
			О перспективах появления линейки Mate 9 в России пока ничего не сообщается.
		</div>
	 </div>  
</div>
</html>