<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="../styles/site.css" rel="stylesheet">
</head>


<body>
<header>
    <div id="headerInside">
        <div id="logo"></div>
        <div id="companyName">Brand</div>
        <div id="navWrap">
            <a href="../index.php">
                Главная
            </a>
            <a href="../index.php?page=shop">
                Магазин
            </a>
        </div>
    </div>
</header>
<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-5.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Более компактная версия Xiaomi Mi MIX
		</h1>
		
		<div id="openedNews-desc">
			Около месяца назад компания Xiaomi представила гигантский фаблет 
			Mi MIX (на изображениях), удививший полным отсутствие не только боковых, 
			но и верхней рамки (из-за этого фронтальную камеру даже пришлось перенести вниз). 
			Как теперь сообщают сетевые источники, у аппарата появится более компактная версия.
			Фаблет Mi MIX, напомним, оснащён 6,4-дюймовым экраном с разрешением 2040 × 1080 точек, 
			процессором Snapdragon 821, 6 Гбайт оперативной памяти, флеш-модулем вместимостью 256 
			Гбайт, камерами с 5- и 16-мегапиксельной матрицами. Более компактный смартфон сейчас 
			фигурирует под именем Mi MIX Nano. Он якобы получит экран размером 5,5 дюйма по диагонали. 
			Причём благодаря безрамочному дизайну устройство по общим габаритам будет сравнимо с 
			5-дюймовыми аппаратами. Разрешение дисплея составит 1920 × 1080 точек (формат Full HD); 
			он займёт приблизительно 90 % площади фронтальной поверхности.
			Известно также, что от старшего собрата новинка унаследует процессор Snapdragon 821 
			(четыре ядра Kryo с тактовой частотой до 2,35 ГГц, графический ускоритель Adreno 530 и модем X12 LTE). 
			Объём оперативной памяти составит 4 Гбайт; вместимость флеш-накопителя — 64 Гбайт.
			Называется также ориентировочная цена новинки — 440 долларов США. 
		</div>
	 </div>  
</div>

<footer>
    <div id="footerInside">

        <div id="contacts">
            <div class="contactWrap">
                <img src="../images/envelope.svg" class="contactIcon">
                donntu.edu
            </div>
            <div class="contactWrap">
                <img src="../images/phone-call.svg" class="contactIcon">
                +38 071 000 00 01
            </div>
            <div class="contactWrap">
                <img src="../images/placeholder.svg" class="contactIcon">
                Донецк, пр-т Ленина, д. 15, офис 205
            </div>
        </div>

        <div id="footerNav">
            <a href="../">Главная</a>
            <a href="../index.php?page=shop">Магазин</a>
        </div>

        <div id="social">
            <img class="socialItem" src="../images/vk-social-logotype.svg">
            <img class="socialItem" src="../images/google-plus-social-logotype.svg">
            <img class="socialItem" src="../images/facebook-logo.svg">
        </div>

        <div id="copyrights">&copy; Brand</div>
    </div>
</footer>

</body>
</html>