<!doctype html>
<head>
	<meta charset="UTF-8">
	<link href="/styles/site.css" rel="stylesheet">
</head>

<div id="content">

	<div id="openedNews-img">
		<img src="/images/slide-6.jpg">
	</div>

	<div id="openedNews-content">
		
		<h1 id="openedNews-name">
			Apple готовит большое обновление iPad
		</h1>
		
		<div id="openedNews-desc">
			Компания Apple запустила свой самый большой планшет iPad Pro 12.9, 
			он пришел с огромным 12,9-дюймовым экраном, поддержкой стилуса Apple Pencil, 
			а также с мощным процессором, он стал значительным изменением в серии iPad’ов.
			Затем на рынок вышел iPad Pro 9.7, призванный заменить iPad Air 2, который получил 
			меньший экран, новую технологию экрана True Tone и все функции оригинального iPad Pro.
			Но мы ждем новый большой экран на iPad в 2016 году и, хорошая новость заключается в том, 
			что мы можем получить не одну новинку. Согласно слухам, Apple заменит обе модели Pro и 
			предложит третий размер. Вот всё, что мы знаем о новом iPad Pro 2 до сих пор.
		</div>
	 </div>  
</div>
</html>